.slider-thumb {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAD1BMVEUlJSZ7fH+cnaDo4dVUYHh5gjdUAAAAA3RSTlMBT/w4XkMUAAAAsUlEQVR42q2WQQrDMAwEq7X+/+ZC6MFlsMVA9jwDUmJL/ryTqqRK8HlSgocx8DAGnsbMrwXjxq8nMAYexsDDGHgYAw9j4GGMPDo/8RBgHOrpRlVXPt2Bceu3N4EG+fTNIL/6yYJx5k/GsZ5fAoNC+i+hsPNJI8lueIElBTR6ME3bz2p/nD8aN4O8Pd72AtkraoeAHTN2kNlRaYexHfd2odiV5ZeiMsovdmWUfZy889D5Aj57DOMJ5tTRAAAAAElFTkSuQmCC");
  background-size: 100% 100%;
}
